<div class="row">

  <div class="col-md-2">
    <h2>Heading</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi, quos libero quam, provident omnis incidunt laborum
      saepe, reprehenderit, nihil repellat ducimus alias officia eius voluptatibus! Labore inventore, vel distinctio laudantium.</p>
    <a href="#" class="btn btn-default" role="button">View details</a>
  </div>


  <div class="col-md-2">
    <h2>Heading</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi, quos libero quam, provident omnis incidunt laborum
      saepe, reprehenderit, nihil repellat ducimus alias officia eius voluptatibus! Labore inventore, vel distinctio laudantium.</p>
    <a href="#" class="btn btn-default" role="button">View details</a>
  </div>

  <div class="col-md-2">
    <h2>Heading</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi, quos libero quam, provident omnis incidunt laborum
      saepe, reprehenderit, nihil repellat ducimus alias officia eius voluptatibus! Labore inventore, vel distinctio laudantium.</p>
    <a href="#" class="btn btn-default" role="button">View details</a>
  </div>

  <div class="col-md-2">
    <h2>Heading</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi, quos libero quam, provident omnis incidunt laborum
      saepe, reprehenderit, nihil repellat ducimus alias officia eius voluptatibus! Labore inventore, vel distinctio laudantium.</p>
    <a href="#" class="btn btn-default" role="button">View details</a>
  </div>

  <div class="col-md-2">
    <h2>Heading</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi, quos libero quam, provident omnis incidunt laborum
      saepe, reprehenderit, nihil repellat ducimus alias officia eius voluptatibus! Labore inventore, vel distinctio laudantium.</p>
    <a href="#" class="btn btn-default" role="button">View details</a>
  </div>

</div>
